
/* Default trend chart flag */
.flag {
    fill: gray;
    stroke-width: 1;
    stroke-opacity: 0.9;
    fill-opacity: 0.45;
    stroke: lightgray;
}

.flag:hover {
    fill: lightgray;
}

/* Flag topper */
.topper {
    fill: red;
    fill-opacity: 1;
}

/* Flag topper colour when clicked */
.topperClicked {
    fill: lawngreen;
    fill-opacity: 1;
}
